NODE_ENV=development
PORT=5000
JWT_SECRET=replace-with-a-long-random-secret
MONGODB_URI=mongodb+srv://nccvardhaman_db:ncc_vardhaman%402024@cluster0.xlfe59w.mongodb.net/?appName=Cluster0
ADMIN_REGIMENTAL=replace-with-admin-regimental-number
ADMIN_PASSWORD=replace-with-a-strong-admin-password
ADMIN_NAME=NCC Admin
ADMIN_UNIT=Head Office
FRONTEND_URL=http://localhost:5173
